* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #226666;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 1rem;
    color: white;
    font-size: 38px;
}

form {
    width: 400px;
    margin: 30px auto;
    background: #669999;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    padding: 20px;
    border: 3px solid #0D4D4D;
}

label {
    font-size: 18px;
}

input {
    padding: 3px;
}

.box {
    width: 400px;
    padding: 1rem;
    margin: 10px auto;
    border: 3px solid #0D4D4D;
    color: white;
    background: #669999;
}

.box h2{
    text-align: center;
    margin-bottom: 1rem;
}

.box p {
    font-size:18px;
    padding: .5rem;
}

input {
    margin-bottom: 10px;
}

input[type=radio] {
    margin: 5px;
}

form ul {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.error {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 3px;
    border: 1px solid #0D4D4D;
    background: #669999;
}

select {
    display: block;
    margin-bottom: 10px;
}